@page "/category"
@using ShoppingBlazor.Entities.Products
@using ShoppingBlazor.Infrastructure.Extensions
@using ShoppingBlazor.Services.Products.Dtos
@rendermode InteractiveServer

<PageTitle>Category</PageTitle>

<MudText Class="m-2" Typo="Typo.h5">دسته بندی‌ها</MudText>

<div class="container-fluid gap-3 d-grid md-flex">
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudTextField @bind-Value="Text" Clearable="true" Label="نام" Variant="Variant.Outlined" Typo="Typo.input" Margin="Margin.Dense"></MudTextField>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSelect MultiSelection="true"
                       Margin="Margin.Dense"
                       SelectAll="true"
                       SelectAllText="انتخاب همه"
                       ToStringFunc="group => group.Display()"
                       @bind-SelectedValues="CategoryGroups"
                       Variant="Variant.Outlined"
                       Label="گروه"
                       Dense="true"
                       Placeholder="گروه دسته بندی"
                       Clearable="true">
                @foreach (var group in Enum.GetValues(typeof(CategoryGroup)).Cast<CategoryGroup>())
                {
                    <MudSelectItem Value="@group">@group.Display()</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12">
            <MudFab Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.Search"/>
            <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.SearchOff" Color="Color.Secondary" Label="نمایش همه"/>
        </MudItem>
        <MudItem xs="12">
            <MudTable Items="@Categories" Outlined="true" Hover="true" Striped="true" Dense="true">
                <ColGroup>
                    <col/>
                    <col/>
                    <col/>
                    <col class="col-lg-2"/>
                </ColGroup>
                <HeaderContent>
                    <MudTh>شناسه</MudTh>
                    <MudTh>نام دسته بندی</MudTh>
                    <MudTh>نام گروه</MudTh>
                    <MudTh Class="text-center">عملیات</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="شناسه">@context.Id</MudTd>
                    <MudTd DataLabel="نام دسته بندی">@context.Name</MudTd>
                    <MudTd DataLabel="نام گروه">@context.Group.Display()</MudTd>
                    <MudTd DataLabel="عملیات" Class="text-center">
                        <MudButton Size="Size.Medium" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Secondary"></MudButton>
                        <MudButton Size="Size.Medium" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Tertiary"></MudButton>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="[10, 25, 50, 100]"
                                   RowsPerPageString="تعداد در صفحه:"
                                   InfoFormat="{first_item}-{last_item} از {all_items}"
                                   HorizontalAlignment="HorizontalAlignment.Center"/>
                </PagerContent>
                <FooterContent>
                    <MudTFootRow>
                        <MudFab Size="Size.Small" Class="my-2 ms-2" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
                        <MudFab Size="Size.Small" Class="my-2" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.DocumentScanner" />
                    </MudTFootRow>
                </FooterContent>
            </MudTable>
        </MudItem>
        <MudItem>
        </MudItem>
    </MudGrid>
</div>

@code {
    public string? Text { get; set; }

    public IEnumerable<CategoryGroup> CategoryGroups { get; set; } = new HashSet<CategoryGroup>();

    public CategoryDto? SelectedCategory { get; set; }

    public IEnumerable<CategoryDto> Categories { get; set; } =
    [
        new(1, "دسته بندی 1", CategoryGroup.Group1),
        new(2, "دسته بندی 2", CategoryGroup.Group1),
        new(3, "دسته بندی 3", CategoryGroup.Group1),
        new(4, "دسته بندی 4", CategoryGroup.Group1),
        new(5, "دسته بندی 5", CategoryGroup.Group1),
        new(6, "دسته بندی 6", CategoryGroup.Group1),
        new(7, "دسته بندی 7", CategoryGroup.Group1),
        new(8, "دسته بندی 8", CategoryGroup.Group1),
        new(9, "دسته بندی 9", CategoryGroup.Group1),
        new(10, "دسته بندی 10", CategoryGroup.Group2),
        new(11, "دسته بندی 6", CategoryGroup.Group1),
        new(12, "دسته بندی 7", CategoryGroup.Group1),
        new(13, "دسته بندی 8", CategoryGroup.Group1),
        new(14, "دسته بندی 9", CategoryGroup.Group1),
        new(15, "دسته بندی 10", CategoryGroup.Group2)
    ];

}